@model LoginViewModel

@{
	ViewData["Title"] = "Login Penceresi";
	Layout = null;
}
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
<div class="container">
	<h1>Login </h1>
	<form method="post">
	  <div asp-validation-summary="ModelOnly"></div>
		<div class="mb-3">
			<label asp-for=Email class="form-label">Email address</label>
			<input asp-for=Email type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
			<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
		</div>
		<div class="mb-3">
			<label asp-for="Password" class="form-label">Password</label>
			<input asp-for="Password" type="password" class="form-control">
		</div>
		<div class="mb-3 form-check">
			<input type="checkbox" asp-for="isRememberMe" class="form-check-input">
			<label class="form-check-label" for="exampleCheck1">Remember Me</label>
		</div>
		<button class="btn btn-primary">Login</button>
	</form>
</div>